@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------- Open Props --------------------------- */

/* the props */
@import "./open-props.css";

/* optional imports that use the props */
@import "./open-props-normalize.min.css";

/* "https://unpkg.com/open-props@1.7.16/buttons.min.css"; */
@import "./open-props-buttons.min.css";

/* ------------------------------------------------------------ */

html{
  font-size:100%;
}

body {
  font-family: Inter, 'Segoe UI', Tahoma, Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
}

/* Override for Chinese text */
:lang(zh) {
  font-family: "Noto Sans SC", "Noto Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

/* Optional: English-only refinement */
:lang(en) {
  font-family: Inter, 'Segoe UI', Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-style: normal;
  font-weight: 400;
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

@font-face {
  font-family: 'TaipeiSans'; /* You can name this whatever you like */
  src: url('/fonts/taipei-sans-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Allura'; /* You can name this whatever you like */
  src: url('/fonts/Allura-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Georgia'; /* You can name this whatever you like */
  src: url('/fonts/georgia.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

.top-bar{
  padding-right:1rem;
}

.top-bar > div > h1 {
  padding: 0.65rem;
}

.top-bar > div > button{
  margin: 0.5rem;
}

h3.card-title{
  font-family: "Georgia";
}

#segmented-list h3, #segmented-list h4{
  text-align: left;
}

.card-body{
  font-size: 1.2rem;
}

.svg-icon{
  width: 20px;
  height: 20px;
}

@media (max-width: 767px) {
  #home-menu h2{
    display: none;
  }
}
